+++
title = "OtterConnect"
linkTitle = "OtterConnect"
+++

<!-- comment/delete the style below if your baseURL is "/" -->
<style>
#td-cover-block-0 {
  background-image: url("background.jpg")
}
</style>

{{< blocks/cover title="OtterConnect" image_anchor="bottom" height="full" color="primary" >}}
	<h3>Un projet de recherche appliquée pour mieux comprendre le retour de la loutre d'Europe</h3>
<br>
<div class="mx-auto">
	<a class="btn btn-lg btn-success me-3 mb-4" href="{{< relref "/blog" >}}">
		Lire les nouvelles<i class="fa-solid fa-circle-right ms-2"></i>
	</a>
	<a class="btn btn-lg btn-warning me-3 mb-4" href="https://www.youtube.com/playlist?list=PL5CiXbb9zgjQ3cahLLLLnCIwe5pkoSqP0">
		Regarder des vidéos<i class="fa-solid fa-circle-right ms-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary me-3 mb-4" href="mailto:olivier.gimenez@cefe.cnrs.fr">
		Nous contacter <i class="fa-solid fa-circle-right ms-2"></i>
	</a>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}

Dans le projet `OtterConnect`, nous avons pour objectif de fournir un cadre opérationnel pour évaluer la connectivité socio-écologique des petits carnivores qui influencent la dynamique des écosystèmes et fournissent de nombreux services écosystémiques. Nous nous concentrons sur la loutre d'Europe (*Lutra lutra*), une espèce parapluie et indicatrice des infrastructures vertes et bleues.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-search" title="Echantillonnage"%}}
Comment échantillonner efficacement les populations de loutre pour quantifier la connectivité?
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-laptop" title="Modélisation"%}}
Quelles sont les conditions écologiques à la dispersion et l'installation des loutres et aux déplacements?
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-users" title="Interactions"%}}
Comment les représentations et pratiques des humains façonnent la connectivité pour les populations de loutre?
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}

<h2>Notre équipe</h2>

{{% /blocks/lead %}}

{{< blocks/section color="white" >}}

<div class="card-columns">
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/maelis.jpg" alt="maelis">
    <div class="card-body">
      <h5 class="card-title">Maëlis Kervellec</h5>
      <p class="card-text">Doctorante. Maëlis développe des modèles statistiques pour l'analyse de données issues de pièges photos pour quantifier la connectivité chez les grands carnivore.</p>
    </div>
  </div>
    <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/valentin.jpg" alt="valentin">
    <div class="card-body">
      <h5 class="card-title">Valentin Lauret</h5>
      <p class="card-text">Chercheur postdoctoral. Valentin s'intéresse à des enjeux de gestion de la biodiversité sous un axe interdisciplinaire entre écologie, statistiques, et sciences sociales.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/louis.jpg" alt="louis">
    <div class="card-body">
      <h5 class="card-title">Louis Barbu</h5>
      <p class="card-text">Etudiant en BTSA Gestion et protection de la nature. Louis étudie la fonctionnalité des corridors écologiques pour la loutre dans le département de l'Hérault.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/vincent.jpg" alt="vincent">
    <div class="card-body">
      <h5 class="card-title">Vincent Sablain</h5>
      <p class="card-text">Animateur Natura 2000 "Le Lez", chargé de gestion espaces naturels à l'EPTB Lez.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/yann.jpg" alt="yann">
    <div class="card-body">
      <h5 class="card-title">Yann Raulet</h5>
      <p class="card-text">Chargé de missions biodiversité à la ville de Montpellier. Yann est passionné de photo animalière.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/olivier.jpg" alt="olivier">
    <div class="card-body">
      <h5 class="card-title">Olivier Gimenez</h5>
      <p class="card-text">Directeur de recherche CNRS. Olivier est statisticien avec l'écologie des carnivores comme domaine de prédilection. Il anime le projet OtterConnect. </p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/simon.jpg" alt="simon">
    <div class="card-body">
      <h5 class="card-title">Simon Lacombe</h5>
      <p class="card-text">Simon commencera un doctorat à l'Université de Montpellier en septembre 2023. Sa thèse visera à comprendre les moteurs sous-jacents à la recolonisation de la loutre en France en utilisant diverses méthodes d'écologie statistique.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/avatar.jpg" alt="tanguy">
    <div class="card-body">
      <h5 class="card-title">Tanguy Daufresne</h5>
      <p class="card-text">Blabla.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/seb.jpg" alt="sébastien">
    <div class="card-body">
      <h5 class="card-title">Sébastien Devillard</h5>
      <p class="card-text">Maître de conférences. Sébastien est un écologue de l'évolution qui s'intéresse particulièrement à la conservation et à la gestion des carnivores mammifères.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/avatar.jpg" alt="cécile">
    <div class="card-body">
      <h5 class="card-title">Cécile Kauffmann</h5>
      <p class="card-text">Blabla.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/nicolas.jpg" alt="nicolas">
    <div class="card-body">
      <h5 class="card-title">Nicolas Lescureux</h5>
      <p class="card-text">Chercheur CNRS. Nicolas est ethnoécologue et travaille sur les savoirs locaux sur les animaux.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/matt.jpg" alt="matt">
    <div class="card-body">
      <h5 class="card-title">Matthew Silk</h5>
      <p class="card-text">Chercheur. Matt utilise des approches de réseau pour étudier les comportements sociaux et spatiaux. Il applique souvent ces méthodes à des questions liées à la gestion et à la conservation.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/gilles.jpg" alt="gilles">
    <div class="card-body">
      <h5 class="card-title">Gilles Maurer</h5>
      <p class="card-text">Scientifique à Beauval Nature. Gilles étudie les interactions entre l'homme et l'animal en utilisant une approche interdisciplinaire (ethnologie, démographie et génétique).</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/raphael.jpg" alt="raphaël">
    <div class="card-body">
      <h5 class="card-title">Raphaël Mathevet</h5>
      <p class="card-text">Chercheur CNRS. Raphaël est géographe et travaille à la conservation de la biodiversité, des aires protégées et sur l'évaluation des politiques publiques.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/eve.jpg" alt="ève">
    <div class="card-body">
      <h5 class="card-title">Eve le Pommelet</h5>
      <p class="card-text">Chargée de projets biodiversité EPTB Bassin de l'Or. Animatrice Natura 2000 "Etang de Mauguio".</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/frederique.jpg" alt="frédérique">
    <div class="card-body">
      <h5 class="card-title">Frédérique Roman</h5>
      <p class="card-text">Chargée de mission planification au sein de l’EPTB Orb Libron.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/avatar.jpg" alt="serge">
    <div class="card-body">
      <h5 class="card-title">Serge Rouvière</h5>
      <p class="card-text">Blabla.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/avatar.jpg" alt="antony">
    <div class="card-body">
      <h5 class="card-title">Antony Meunier</h5>
      <p class="card-text">Blabla.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/avatar.jpg" alt="nicolas">
    <div class="card-body">
      <h5 class="card-title">Nicolas Juillet</h5>
      <p class="card-text">Blabla.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/avatar.jpg" alt="marion">
    <div class="card-body">
      <h5 class="card-title">Marion Bottollier-Curtet</h5>
      <p class="card-text">Blabla.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/alix.jpg" alt="alix">
    <div class="card-body">
      <h5 class="card-title">Alix Cosquer</h5>
      <p class="card-text">Chercheuse en psychologie environnementale et psychologie de la conservation. Sa thématique de recherche porte sur les représentations et les comportements des individus vis-à-vis de la nature</p>
    </div>
  </div>
</div>

{{< /blocks/section >}}

{{% blocks/lead color="dark" %}}

<h2>Nos soutiens</h2>

{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
<div class="col">
	<p class="text-center showcase">
		<a href="https://eptb-lez.fr/"><img alt="EPTB Lez" width="90" src="images/logo-eptblez.jpg" /></a>
		<a href="https://www.etang-de-l-or.com/"><img alt="EPTB Bassin de l'Or" width="90" src="images/logo-eptbor.jpg" /></a>
		<a href="https://www.vallees-orb-libron.fr/"><img alt="EPTB Orb et Libron" width="90" src="images/logo-eptborblibron.jpg" /></a>
		<a href="https://www.montpellier3m.fr/"><img alt="Métropole Montpellier" width="100" src="images/logo-metro.jpg" /></a>
		<a href="https://www.montpellier.fr/"><img alt="Ville Montpellier" width="92" src="images/logo-montpellier.png" /></a>
		<a href="https://www.labex-cemeb.org/"><img alt="Labex Cemeb" width="124" src="images/logo-cemeb.jpg" /></a>
		<a href="https://www.beauvalnature.org/"><img alt="Beauval Nature" width="145" src="images/logo-beauval-nature.jpg" /></a>
		<a href="https://www.univ-lyon1.fr/"><img alt="Université Claude Bernard Lyon 1" width="205" src="images/ulyon.jpg" /></a>
		<a href="https://lbbe-web.univ-lyon1.fr/"><img alt="LBBE" width="145" src="images/lbbe.jpg" /></a>
		<a href="https://www.cefe.cnrs.fr/"><img alt="CEFE" width="145" src="images/logo-cefe.jpg" /></a>
		<a href="https://www.inee.cnrs.fr/"><img alt="INEE-CNRS" width="105" src="images/logo-cnrs.png" /></a>
		<a href="https://www.umontpellier.fr/"><img alt="Université de Montpellier" width="105" src="images/logo-umontpellier.png" /></a>
	</p>
</div>
{{< /blocks/section >}}

