+++
title = "OtterConnect"
linkTitle = "OtterConnect"
+++

<!-- comment/delete the style below if your baseURL is "/" -->
<style>
#td-cover-block-0 {
  background-image: url("background.jpg")
}
</style>

{{< blocks/cover title="OtterConnect" image_anchor="bottom" height="full" color="primary" >}}
	<h3>An applied research project to better understand otter recolonization</h3>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}

In the `OtterConnect` project, we aim at providing an operational framework for assessing socio-ecological connectivity for small carnivores which influence the dynamics of ecosystems and provide numerous ecosystem services. We focus on the Eurasian otter (*Lutra lutra*) an umbrella and indicator species of multifunctional blue and green infrastructures. 

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-search" title="Monitoring" url="https://github.com/dcassol/docsy_Rmarkdown" %}}
How to survey efficiently otter populations to quantify habitat connectivity and
suitability?
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-laptop" title="Modelling" url="https://github.com/dcassol/docsy_Rmarkdown" %}}
What are the ecological conditions for otters to disperse and settle in areas or move between populations?
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-users" title="Interacting" url="https://twitter.com/" %}}
How do human attitudes and representations shape habitat connectivity and suitability for otters?
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}

<h2>Our team</h2>

{{% /blocks/lead %}}

{{< blocks/section color="white" >}}

<div class="card-columns">
    <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/maelis.jpg" alt="maelis">
    <div class="card-body">
      <h5 class="card-title">Maëlis Kervellec</h5>
      <p class="card-text">PhD candidate at Montpellier University. Maëlis develops statistical models for the analysis of camera trap data with applications to connectivity and large carnivores.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/louis.jpg" alt="louis">
    <div class="card-body">
      <h5 class="card-title">Louis Barbu</h5>
      <p class="card-text">Intern from BTSA Nature management and protection. Louis is studying the functionality of ecological corridors for the European otter in the Hérault department.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/vincent.jpg" alt="vincent">
    <div class="card-body">
      <h5 class="card-title">Vincent Sablain</h5>
      <p class="card-text">Natura 2000 "Le Lez" coordinator, Manager of natural areas at EPTB Lez.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/yann.jpg" alt="yann">
    <div class="card-body">
      <h5 class="card-title">Yann Raulet</h5>
      <p class="card-text">Biodiversity project manager at Montpellier city.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/olivier.jpg" alt="olivier">
    <div class="card-body">
      <h5 class="card-title">Olivier Gimenez</h5>
      <p class="card-text">CNRS scientist. Olivier is a statistician with a special interest in carnivore ecology. He leads the OtterConnect project.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/avatar.jpg" alt="simon">
    <div class="card-body">
      <h5 class="card-title">Simon Lacombe</h5>
      <p class="card-text">Blabla.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/avatar.jpg" alt="tanguy">
    <div class="card-body">
      <h5 class="card-title">Tanguy Daufresne</h5>
      <p class="card-text">Blabla.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/avatar.jpg" alt="sébastien">
    <div class="card-body">
      <h5 class="card-title">Sébastien Devillard</h5>
      <p class="card-text">Blabla.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/avatar.jpg" alt="cécile">
    <div class="card-body">
      <h5 class="card-title">Cécile Kauffmann</h5>
      <p class="card-text">Blabla.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/nicolas.jpg" alt="nicolas">
    <div class="card-body">
      <h5 class="card-title">Nicolas Lescureux</h5>
      <p class="card-text">CNRS scientist. Nicolas is an ethnoecologist working on local knowledge about animals.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/raphael.jpg" alt="raphaël">
    <div class="card-body">
      <h5 class="card-title">Raphaël Mathevet</h5>
      <p class="card-text">CNRS scientist. Raphaël is a geographer, working on the conservation of biodiversity, protected areas, and the evaluation of public policies.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/avatar.jpg" alt="ève">
    <div class="card-body">
      <h5 class="card-title">Eve le Pommelet</h5>
      <p class="card-text">Blabla.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/avatar.jpg" alt="frédérique">
    <div class="card-body">
      <h5 class="card-title">Frédérique Roman</h5>
      <p class="card-text">Blabla.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/avatar.jpg" alt="serge">
    <div class="card-body">
      <h5 class="card-title">Serge Rouvière</h5>
      <p class="card-text">Blabla.</p>
    </div>
  </div>
  <div class="card text-center" style="max-width: 18rem;">
    <img class="card-img-top" src="images/avatar.jpg" alt="antony">
    <div class="card-body">
      <h5 class="card-title">Antony Meunier</h5>
      <p class="card-text">Blabla.</p>
    </div>
  </div>
</div>

{{< /blocks/section >}}

{{% blocks/lead color="dark" %}}

<h2>Our partners</h2>

{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
<div class="col">
	<p class="text-center showcase">
		<a href="https://eptb-lez.fr/"><img alt="EPTB Lez" width="90" src="images/logo-eptblez.jpg" /></a>
		<a href="https://www.montpellier3m.fr/"><img alt="Métropole Montpellier" width="100" src="images/logo-metro.jpg" /></a>
		<a href="https://www.montpellier.fr/"><img alt="Ville Montpellier" width="92" src="images/logo-montpellier.png" /></a>
		<a href="https://www.labex-cemeb.org/"><img alt="Labex Cemeb" width="124" src="images/logo-cemeb.jpg" /></a>
		<a href="https://www.beauvalnature.org/"><img alt="Beauval Nature" width="145" src="images/logo-beauval-nature.jpg" /></a>
	</p>
</div>
{{< /blocks/section >}}

