+++
title = "OtterConnect"
linkTitle = "OtterConnect"
+++

<!-- comment/delete the style below if your baseURL is "/" -->
<style>
#td-cover-block-0 {
  background-image: url("background.jpg")
}
</style>

{{< blocks/cover title="OtterConnect" image_anchor="bottom" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/rmarkdown/" >}}">Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
	<p class="lead mt-5">An applied research project to better understand otter recolonization</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}

In the `OtterConnect` project, we aim at providing an operational framework for assessing socio-ecological connectivity for small carnivores which influence the dynamics of ecosystems and provide numerous ecosystem services. We focus on the Eurasian otter (*Lutra lutra*) an umbrella and indicator species of multifunctional blue and green infrastructures. 

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-search" title="Monitoring" url="https://github.com/dcassol/docsy_Rmarkdown" %}}
How to survey efficiently otter populations to quantify habitat connectivity and
suitability?
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-laptop" title="Modelling" url="https://github.com/dcassol/docsy_Rmarkdown" %}}
What are the ecological conditions for otters to disperse and settle in areas or move between populations?
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-users" title="Interacting" url="https://twitter.com/" %}}
How do human attitudes and representations shape habitat connectivity and suitability for otters?
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section color="primary" >}}
<div class="col">
	<h2 class="text-center pb-3">Our supports</h2>
	<p class="text-center showcase">
		<a href="https://eptb-lez.fr/"><img alt="EPTB Lez" width="90" src="images/logo-eptblez.jpg" /></a>
		<a href="https://www.montpellier3m.fr/"><img alt="Métropole Montpellier" width="100" src="images/logo-metro.jpg" /></a>
		<a href="https://www.montpellier.fr/"><img alt="Ville Montpellier" width="92" src="images/logo-montpellier.png" /></a>
		<a href="https://www.labex-cemeb.org/"><img alt="Labex Cemeb" width="124" src="images/logo-cemeb.jpg" /></a>
		<a href="https://www.beauvalnature.org/"><img alt="Beauval Nature" width="145" src="images/logo-beauval-nature.jpg" /></a>
		
		
		
		
		
	</p>
</div>
{{< /blocks/section >}}

